.ListItem{
    padding: 20px 10px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 75px;
    height: 80vh;
    width: 700px;
    border-left: 1px solid black;
    border-bottom: 5px solid grey;
    border-radius: 15px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #888;    
  }
::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 10px;
  }

.filterBtnsContainer{
  width: 60%;
  margin: 2px auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  /* background-color: aliceblue; */
}

.filterBtnsContainer button{
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
.filterBtnsContainer button:nth-child(1){
  background-color: #ffd700;
}
.filterBtnsContainer button:nth-child(2){
  background-color: #f59e0b;
}
.filterBtnsContainer button:nth-child(3){
  background-color: #32cd33;
}