.todoBlock{
    width: 650px;
    height: 55px;
    margin-bottom: 15px;
    border-bottom: 0.3px solid black;
    border-radius: 10px;
    padding: 1px 12px;
    box-shadow: rgb(72, 64, 64) 1px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.todoContent{
    width:70%; 
}
.todoContent div:nth-child(1){
    font-size: x-large;
}
.todoBolck_type{
    font-size: small;
    margin-top: 10px;
    text-transform: capitalize;
}
.todoBtns button{
    border-radius: 5px;
    padding: 2px 10px;
    margin-left: 10px;
    
    font-size: 15px;
    cursor: pointer;
}
.editbtn{
    background-color: #facc15;
}
.deletebtn{
    color: white;
    background-color: #ef4444;
}